@charset "UTF-8";

.h5p-image-hotspots {
  background-color: var(--h5p-theme-ui-base);
  color: var(--h5p-theme-text-primary);
  font-size: var(--h5p-theme-font-size-xxl);
}
.h5p-image-hotspots .h5p-content-controls {
  transition: opacity 0.6s;
  opacity: 1;
}
.h5p-image-hotspots.showing-popup .h5p-content-controls {
  /* Hide the fullscreen button when there's an popup open */
  opacity: 0;
  pointer-events: none; /* Make sure it isn't clickable */
}
.h5p-image-hotspots-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: auto;
  max-width: 100%;
  background: var(--h5p-theme-ui-base);
}
.h5p-image-hotspots-background {
  width: 100%;
}
.h5p-image-hotspot {
  position: absolute;
  font-size: 1.3em;
  height: 1.3em;
  width: 1.3em; 
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border-radius: 3em;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background: var(--h5p-theme-ui-base);
  padding: var(--h5p-theme-spacing-xxs);
  border: 1px solid transparent;
  margin: 0;
  cursor: pointer;
  box-shadow: 5px 4px 8px 0px rgb(0 0 0 / 36%);
}

.h5p-image-hotspot.disabled {
  display: none;
}

.h5p-image-hotspot:not(.legacy-positioning) {
  transform: translate(-50%, -50%);
}

.h5p-image-hotspot.active {
  z-index: 1;
}

.h5p-content:not(.using-mouse) .h5p-image-hotspot:focus {
  outline: none;
  border-color: var(--h5p-theme-main-cta-base);
  outline: 2px ridge var(--h5p-theme-main-cta-base);
  outline-offset: 2px;
}

.h5p-image-hotspot.active,
.h5p-image-hotspot:focus,
.not-an-ios-device .h5p-image-hotspot:hover {
  transform: translate(-50%, -50%) scale(1.5);
}

.h5p-image-hotspot.active.legacy-positioning,
.h5p-image-hotspot.legacy-positioning:focus,
.not-an-ios-device .h5p-image-hotspot.legacy-positioning:hover {
  transform: scale(1.5);
}

.h5p-image-hotspot:before {
  font-family: h5p-theme;
}
.h5p-image-hotspot-plus:before {
  content: '\e920';
}
.h5p-image-hotspot-minus:before {
  content: '\e923';
}
.h5p-image-hotspot-times:before {
  content: '\e921';
}
.h5p-image-hotspot-check:before {
  content: '\e926';
}
<<<<<<< HEAD
/* Avoid collision with main class name of H5P.ImageHotspotQuestion */
.h5p-image-hotspots .h5p-image-hotspot-question:before {
  content: '\f059';
=======
.h5p-image-hotspot-question:before {
  content: '\e924';
>>>>>>> feature/redesign
}
.h5p-image-hotspot-info:before {
  content: '\e922';
}
.h5p-image-hotspot-exclamation:before {
  content: '\e925';
}
.h5p-image-hotspot-popup {
  position: absolute;
  z-index: 3; /* On top of hotspots */
  top: 0;
  margin: 0;
  padding: 0.3em;
  height: 100%;
  max-height: 100%;
  background: var(--h5p-theme-ui-base);
  background: var(--h5p-theme-ui-base);
  border-radius: 3px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
  box-sizing: border-box;
  transition: left 0.3s ease-in-out;
  cursor: auto;
}
.h5p-image-hotspot-popup.popup-overflowing,
.h5p-image-hotspot-popup.fullscreen-popup {
  border-radius: 0;
}

.h5p-image-hotspot-has-header .h5p-image-hotspot-popup-body {
  padding-top: 0;
}

.h5p-image-hotspot-popup-pointer {
  opacity: 0;
  position: absolute;
  -webkit-transition: left .3s ease-in-out;
  transition: left .3s ease-in-out;
  width: 0;
  height: 0;
  border-top: 0.6em solid transparent;
  border-left: 0.6em solid var(--h5p-theme-ui-base);
  border-bottom: 0.6em solid transparent;
  transform: translate(0, -50%);
  transition: transform 0.3s, opacity 0.2s;
  transition-delay: 0.1s;
  cursor: auto;
}
.h5p-image-hotspot-popup-pointer.legacy-positioning  {
  transform: none;
}
.h5p-image-hotspot-popup-pointer.visible {
  opacity: 1;
  z-index: 3;
}
.h5p-image-hotspot-popup-pointer.to-the-left {
  transform: translate(-100%, -50%);
}
.h5p-image-hotspot-popup-pointer.to-the-left.legacy-positioning  {
  transform: translate(-100%, 0);
}
.h5p-image-hotspot-popup-pointer.visible.to-the-left {
  transform: translate(-1px, -50%);
}
.h5p-image-hotspot-popup-pointer.visible.to-the-left.legacy-positioning {
  transform: translate(-1px, 0);
}
.h5p-image-hotspot-popup-pointer.visible.to-the-right {
  border-right: 0.6em solid var(--h5p-theme-ui-base);
  border-left: none;
  transform: translate(calc(-100% + 1px), -50%);
}
.h5p-image-hotspot-popup-pointer.visible.to-the-right.legacy-positioning {
  transform: translate(calc(-100% + 1px), 0);
}
.h5p-image-hotspot-popup-header {
  font-weight: bold;
  margin: 0;
  padding: var(--h5p-theme-spacing-s) var(--h5p-theme-spacing-m) 0 var(--h5p-theme-spacing-s);
  margin-bottom: 0.5em;
  line-height: 1.1em;
}
.h5p-image-hotspot-popup-body {
  padding: var(--h5p-theme-spacing-s);
  font-size: var(--h5p-theme-font-size-m);
}

.h5p-text.h5p-image-hotspot-popup-body {
  bottom: 0;
  overflow: auto;
  word-wrap: break-word;
  line-height: 1.1;
}
.fullscreen-popup .h5p-image-hotspot-popup-content {
  height: 100%;
  overflow: auto;
}
.h5p-image-hotspot-popup-content {
  overflow: auto;
}
/* Make the content fade out a bit if there's a scrollbar */
.h5p-image-hotspot-popup-content.overflowing:after {
  content: '';
  width: calc(100% - 1em);
  height: 10em;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(transparent 2em, white);
  opacity: 1;
  transition: opacity 1s;
  pointer-events: none; /* Make things behind it clickable */
}
/* When scroll has been detected, remove the content fade-out */
.h5p-image-hotspot-popup-content.overflowing.has-scrolled:after {
  opacity: 0;
}

.h5p-image-hotspot-popup-content.h5p-image-hotspot-popup-content-no-header {
  padding-top: 0.35em;
}

.h5p-image-hotspot-popup-content::-webkit-scrollbar {
  background-color: #ebebeb;
  width: 0.25em;
  border-radius: 5px;
}
.h5p-image-hotspot-popup-content::-webkit-scrollbar-thumb {
  background-color: #737170;
  border-radius: 5px;
}
.h5p-image-hotspot-popup-body > * {
  line-height: 1.7;
}

.h5p-image-hotspot-popup:not(.fullscreen-popup) .h5p-image-hotspot-popup-body.h5p-video > div {
  max-height: 18em;
  min-height: 16em;
}

.h5p-image-hotspot-popup-body p {
  margin: 0;
}
.h5p-image-hotspot-close-popup-button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  border: 1px solid transparent;
  border-radius: 50%;
  font-size: 0.7em;
  padding: 0.8em;
  cursor: pointer;
  background-color: var(--h5p-theme-ui-base);
  transition: box-shadow 0.3s, border-color 0.3s;
}
.h5p-image-hotspot-close-popup-button:before {
  color: var(--h5p-theme-text-primary);
  font-family: 'h5p-theme';
  content: '\e910';
  
}
.h5p-image-hotspot-close-popup-button:hover,
.h5p-image-hotspot-close-popup-button:focus {
   background-color: var(--h5p-theme-alternative-base);
}
.h5p-content:not(.using-mouse) .h5p-image-hotspot-close-popup-button:focus {
  border-color: rgba(0,0,0,0.4);
  outline: none;
}

.h5p-image-hotspots-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out;
  background: transparent;
  z-index: 1;
  cursor: pointer;
}
.h5p-image-hotspots-overlay.visible {
  background: rgba(0,0,0,0.5);
}
.background-image-missing {
  font-size: 1.5em;
  text-align: center;
  padding: 2em;
}
/* Fullscreen */
.h5p-image-hotspots.h5p-fullscreen,
.h5p-image-hotspots.h5p-semi-fullscreen {
  background-color: #000;
}
/* Center vertically on fullscreen */
.h5p-image-hotspots.h5p-fullscreen .h5p-image-hotspots-container,
.h5p-image-hotspots.h5p-semi-fullscreen .h5p-image-hotspots-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* H5P.Image */
.h5p-image.h5p-image-hotspot-popup-body-fraction {
  display: inline-block;
}

/* H5P.Text */
.h5p-text.h5p-image-hotspot-popup-body-fraction h2 {
  font-size: 1.3em;
}
.h5p-text.h5p-image-hotspot-popup-body-fraction h3 {
  font-size: 1.15em;
}
